body {
    background-color: rgb(29, 34, 44);
    font-family: sans-serif;
}
.navigation {
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: whitesmoke;
}
.math_navigation {
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: whitesmoke;
}
p {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 30px;
}
h1 {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    font-size: 32px;
}
h2 {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}
.question {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    display: block;
    font-size: 24px;
    margin: 30px auto;
}
.answer {
    color: black;
    font-family: sans-serif;
    text-align: left;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
}
.button {
    color: black;
    font-family: sans-serif;
    text-align: left;
    display: block;
    position: relative;
    margin: 30px auto;
    border-radius: 5px;
}
.study {
    color: whitesmoke;
    background-color: cornflowerblue;
    border-radius: 15px;
    display: block;
    margin: 30px;
}
.f {
    font-size: 16px;
    display: inline-block;
    width: 1em;
    margin-right: 10px;
}
.n {
    text-align: center;
    border-bottom: 1px solid whitesmoke; 
}
.d {
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}